/* HEADER */
.header-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  left: 0px;
  background-color: #456054;
  justify-content: space-between;
  z-index: 10;
}

.logo {
  margin-top: 21px;
  margin-left: 81px;
  margin-bottom: 22px;
}

.login-menu-container {
  margin-top: 25px;
  margin-right: 81px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.menu {
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.register-button {
  width: 140px;
  height: 50px;
  border-radius: 4px;
  border: rgba(249, 242, 232, 1) 1.5px solid;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  color: rgba(249, 242, 232, 1);
  cursor: pointer;
}

.login-button {
  width: 140px;
  height: 50px;
  border-radius: 4px;
  border: rgba(249, 242, 232, 1) 1.5px solid;
  background-color: rgba(249, 242, 232, 1);
  font-size: 14px;
  font-weight: 400;
  color: rgba(25, 25, 25, 1);
  cursor: pointer;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px 38px 30px;
}

/* REGISTER MODAL */
.register-title {
  font-size: 35px;
  font-family: 'BigNoodleTitling', sans-serif;
  font-weight: 400;
  color: rgba(69, 96, 84, 1);
  text-transform: uppercase;
}

p-dialog {
  button {
    width: 50px;
    height: 50px;
    background-color: rgba(69, 96, 84, 1);
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      width: 30px;
      height: 30px;
      font-size: 14px;
      color: rgba(255, 255, 255, 1);
      align-content: center;
    }
  }

  ::ng-deep .p-dialog-mask {
    background: rgba(0, 0, 0, 0.4) !important;
  }

  .auth-subtile {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: rgba(151, 151, 151, 1);
    margin-top: 24px;
    gap: 5px;

    .auth-link {
      color: rgba(25, 25, 25, 1);
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
