<div class="menu-container">
  <div class="menu-list">
    <button>Mes favoris <i class="pi pi-chevron-right"></i></button>
    <p-divider layout="horizontal" />
    <button>Mes réservations <i class="pi pi-chevron-right"></i></button>
    <p-divider layout="horizontal" />
    <button>Carte cadeau <i class="pi pi-chevron-right"></i></button>
  </div>
  <div class="info-list">
    <button>Mes informations <i class="pi pi-chevron-right"></i></button>
    <p-divider layout="horizontal" />
    <button>Besoin d'aide ? <i class="pi pi-chevron-right"></i></button>
  </div>
</div>
