<div class="menu-container">
  <div class="menu-header">
    <button (click)="closeMenu()"><i class="pi pi-times"></i></button>
  </div>
  <div class="menu-content">
    <button>Favoris</button>
    <button (click)="goToProfile()">Compte</button>
    <button *ngIf="userIsPro" (click)="goToCreateActivity()">Créer une activité</button>
    <p-divider layout="horizontal" />
    <button (click)="goToActivities()">Les activités</button>
    <button>Les destinations</button>
    <button>Carte cadeau</button>
  </div>
</div>
