<div class="search-container">
  <img class="logo" src="assets/AIRVENTURE-LOGO1.png" alt="Airventure logo" />
  <div class="icons-container">
    <button
      *ngFor="let icon of icons"
      class="button-size"
      (click)="selectCategory(icon.category)"
      (mouseenter)="icon.isHovered = true"
      (mouseout)="icon.isHovered = false"
    >
      <img
        class="icon-size"
        [src]="icon.isHovered || selectedCategory === icon.category ? icon.hover : icon.default"
        [alt]="icon.alt"
      />
    </button>
  </div>
</div>
