.search-container {
  display: flex;
  width: 100%;
  height: 170px;
  background-color: rgba(249, 242, 232, 1);
  z-index: 1;
  > .logo {
    width: 746px;
    z-index: 2;
  }
}

.icons-container {
  width: 660px;
  display: flex;
  margin-left: -320px;
  margin-top: 28px;
  justify-content: center;
  gap: 24px;
  z-index: 3;
  > .icon-size {
    width: 90px;
    height: 115px;
  }
  > .button-size {
    width: 90px;
    height: 115px;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }
}
