.card-container {
  width: 434px;
  height: 366px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.card-container:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.image-container {
  img {
    width: 434px;
    height: 270px;
    border-radius: 4px;
  }
}

.gray-font {
  color: rgba(192, 192, 192, 1);
}

.bold-font {
  font-weight: bold;
}

button {
  cursor: pointer;
}
