.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 366px;
  gap: 24px;
  margin-top: 16px;
  margin-left: 81px;
  width: calc(434px * 3 + 48px);
  max-height: calc(366px * 2 + 24px);
  overflow: hidden;
}

.cardsCategories {
  width: 434px;
  height: 366px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-left: 81px;
  margin-top: 30px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  margin-top: 81px;
}

h1 {
  display: flex;
  justify-content: start;
  font-size: 35px;
  margin-left: 81px;
  text-transform: uppercase;
  font-family: 'BigNoodleTitling', sans-serif;
  color: rgba(69, 96, 84, 1);
}

.hero-image {
  background-image: url('/assets/hero-image.jpg');
  height: 679px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  width: 481px;
  height: 270px;
  text-align: left;
  position: absolute;
  bottom: 140px;
  left: 81px;
  color: rgb(255, 255, 255) !important;
  p {
    font-size: 100px;
    margin: 0;
    line-height: 90px;
    font-weight: 400;
    font-family: 'BigNoodleTitling', sans-serif;
    font-style: normal;
    text-transform: uppercase;
  }
}

.hero-button {
  position: absolute;
  bottom: 50px;
  left: 81px;
  button {
    width: 220px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: rgba(69, 96, 84, 1);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    padding: 15px 15px 15px 20px;
    cursor: pointer;
    i {
      margin-left: 8px;
      width: 30px;
      height: 30px;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  button {
    width: 220px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(69, 96, 84, 1);
    border: none;
    padding: 15px 15px 15px 20px;
    cursor: pointer;
    i {
      margin-left: 8px;
      width: 30px;
      height: 30px;
    }
  }
}
