<!-- <app-search-categories (categorySelected)="onCategorySelected($event)" /> -->
<div class="hero-image">
  <div class="hero-text">
    <p>les meilleurs expériences autour de vous</p>
  </div>
</div>
<div *ngIf="showFilter">
  <h1>{{ titleCategory }}</h1>
  <div class="cardsCategories">
    <app-card *ngFor="let activity of filtredActivities" [activity]="activity" />
    <div *ngIf="noActivitiesMessage" class="no-activities-message">
      {{ noActivitiesMessage }}
    </div>
  </div>
</div>
<div class="cards" *ngIf="!showFilter">
  <app-card *ngFor="let activity of activities" [activity]="activity" />
</div>
