<div class="hero-image">
  <div class="hero-text">
    <p>les meilleurs expériences autour de vous</p>
  </div>
  <div class="hero-button">
    <button (click)="navigateToActivities()">
      Accéder aux activités <i class="pi pi-chevron-right"></i>
    </button>
  </div>
</div>
<div class="cards-container">
  <h1>Pour tous les goûts et toutes les envies</h1>
  <div class="cards">
    <app-card *ngFor="let activity of activities" [activity]="activity" />
  </div>
  <div class="button-container">
    <button (click)="navigateToActivities()">
      Accéder aux activités <i class="pi pi-chevron-right"></i>
    </button>
  </div>
</div>
